/* font-weight, font-style, letter-spacing, text-transform, text-decoration*/
html{
    font-size: 24px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.text{
    margin-top: 0em;
    margin-bottom: 1rem;
}
header{
    margin-bottom: 100px;
}
h1{
    font-size: 1.75rem;
    margin-bottom: .4em;
}
.subtitle{
    margin-bottom: .4em;
}
h2{
    color:rgb(163, 163, 163);
    font-weight:bold;
    font-size: 1.2rem;
    margin-bottom: .4em;
}
h3{
    font-size: .6rem;
    font-weight:normal;
    margin-bottom: 0em;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.spaced{
    letter-spacing: .3em;
}
.close{
    letter-spacing: -.06em;
}
.underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
}
.overline{
    text-decoration: overline;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.end{
    margin-bottom: 100px;
}